body, html {
  height: 100vh; }

body {
  font-family: 'Roboto', sans-serif;
  color: #22222b; }

.text-center {
  text-align: center; }

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hero {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 42px;
  box-sizing: border-box; }
  .hero__content {
    text-align: center; }
  .hero__title {
    font-size: 60px;
    font-weight: 300;
    position: relative;
    padding: 6px 29px; }
    @media (max-width: 650px) {
      .hero__title {
        font-size: 30px; } }
    .hero__title-accent {
      font-weight: 500; }
    .hero__title::before, .hero__title::after {
      content: '';
      display: block;
      background-repeat: no-repeat;
      width: 28px;
      height: 21px;
      position: absolute; }
      @media (max-width: 650px) {
        .hero__title::before, .hero__title::after {
          width: 14px;
          height: 11px; } }
    .hero__title::before {
      background-image: url(../img/before-title.png);
      left: 0;
      top: 0; }
    .hero__title::after {
      background-image: url(../img/after-title.png);
      right: 0;
      bottom: -4px; }
  .hero__scroll-btn {
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;
    animation: move 2s ease-in-out infinite; }

@keyframes move {
  0% {
    transform: translate(0, -10px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translate(0, 10px);
    opacity: 0; } }
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 850px) {
    .header__inner {
      justify-content: center; } }

@media (max-width: 650px) {
  .logo__img {
    width: 135px; } }

@media (max-width: 850px) {
  .nav {
    display: none; } }
.nav__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex; }
.nav__item {
  margin-left: 23px; }
.nav__link {
  color: #22222b;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 6px;
  transition: 0.3s; }
  .nav__link:hover {
    border-bottom: 1px solid #22222b; }

.section-title {
  font-size: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px; }
  @media (max-width: 650px) {
    .section-title {
      font-size: 25px; } }
  .section-title--center {
    text-align: center; }

.section-subtitle {
  font-size: 16px;
  color: #7f7f82;
  text-align: center; }
  @media (max-width: 650px) {
    .section-subtitle {
      font-size: 14px; } }

.about {
  padding-top: 240px;
  padding-bottom: 132px; }
  @media (max-width: 650px) {
    .about {
      padding-top: 100px;
      padding-bottom: 100px; } }
  .about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 960px) {
      .about__inner {
        flex-direction: column; } }
  .about__visual {
    flex: 0 0 46%;
    max-width: 46%;
    position: relative; }
    @media (max-width: 960px) {
      .about__visual {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px; } }
  .about__content {
    flex: 0 0 46%;
    max-width: 46%; }
    @media (max-width: 960px) {
      .about__content {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center; } }
  .about__img--back {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -108px; }
    @media (max-width: 960px) {
      .about__img--back {
        display: none; } }
  @media (max-width: 960px) {
    .about__img--front {
      width: 100%; } }
  .about__caption {
    position: absolute;
    left: -4px;
    letter-spacing: 1.6px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    bottom: 58px;
    font-size: 16px; }
    @media (max-width: 960px) {
      .about__caption {
        display: none; } }
    .about__caption::after {
      content: '';
      display: block;
      width: 1px;
      height: 45px;
      background-color: #22222b;
      position: absolute;
      right: 9px;
      top: 93px; }
      @media (max-width: 960px) {
        .about__caption::after {
          display: none; } }
  .about__title {
    font-size: 48px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 20px; }
    @media (max-width: 650px) {
      .about__title {
        font-size: 25px; } }
  .about__text {
    color: #7f7f82;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 48px; }

.skills__item {
  margin-bottom: 21px; }
.skills__bar {
  width: 100%;
  height: 2px;
  background-color: #22222b;
  position: relative; }
  .skills__bar::before {
    content: '';
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    display: block;
    width: 6px;
    height: 11px;
    position: absolute;
    left: 0;
    top: calc(50% - 5.5px); }
  .skills__bar::after {
    content: '';
    position: absolute;
    right: 0;
    display: block;
    height: 2px;
    background-color: #f2f2f2; }
  .skills__bar--indesign::after {
    width: 35%; }
  .skills__bar--xd::after {
    width: 20%; }
.skills__info {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.skills__name, .skills__value {
  font-size: 16px;
  font-weight: 500; }

.services {
  background-color: #faf9fe;
  padding-top: 120px;
  padding-bottom: 100px; }
  @media (max-width: 650px) {
    .services {
      padding-top: 100px;
      padding-bottom: 80px; } }
  .services__grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 31px 48px;
    margin-top: 65px;
    margin-bottom: 30px; }
    @media (max-width: 960px) {
      .services__grid {
        grid-template: 1fr 1fr / 1fr 1fr; } }

.service-card:hover .service-card__link-text {
  width: inherit;
  opacity: 1;
  padding-right: 9px; }
.service-card__icon {
  background-repeat: no-repeat;
  display: block;
  width: 44px;
  height: 37px;
  margin-bottom: 30px; }
  .service-card__icon--design {
    background-image: url(../img/icon01.png);
    background-size: 41px 35px; }
  .service-card__icon--photo {
    background-image: url(../img/icon02.png);
    background-size: 43px 35px; }
  .service-card__icon--web {
    background-image: url(../img/icon03.png);
    background-size: 41px 35px; }
  .service-card__icon--social {
    background-image: url(../img/icon04.png);
    background-size: 37px 37px; }
  .service-card__icon--marketing {
    background-image: url(../img/icon05.png);
    background-size: 44px 37px; }
  .service-card__icon--app {
    background-image: url(../img/icon06.png);
    background-size: 37px 37px; }
.service-card__title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 18px; }
  @media (max-width: 650px) {
    .service-card__title {
      font-size: 18px; } }
.service-card__text {
  color: #7f7f82;
  font-size: 14px;
  line-height: 1.8; }
  @media (max-width: 650px) {
    .service-card__text {
      font-size: 13px; } }
.service-card__link {
  color: #22222b;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px; }
.service-card__link-text {
  opacity: 0;
  width: 0;
  padding-right: 0;
  transition: 0.4s ease-in-out; }
.service-card__link-line {
  display: block;
  width: 25px;
  height: 1px;
  background-color: #22222b; }

.portfolio {
  padding-top: 123px;
  padding-bottom: 161px; }
  @media (max-width: 650px) {
    .portfolio {
      padding-top: 100px;
      padding-bottom: 100px; } }
  .portfolio__grid {
    display: grid;
    grid-template: repeat(7, 88px)/1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 83px; }
    @media (max-width: 960px) {
      .portfolio__grid {
        grid-template: repeat(7, 88px)/1fr 1fr; } }
    @media (max-width: 650px) {
      .portfolio__grid {
        grid-template: repeat(7, 60px)/1fr 1fr;
        grid-gap: 20px; } }
  .portfolio__item--01 {
    grid-column: 1 / 2;
    grid-row: 1 / 4; }
  .portfolio__item--02 {
    grid-column: 2 / 3;
    grid-row: 1 / 5; }
  .portfolio__item--03 {
    grid-column: 3 / 4;
    grid-row: 1 / 4; }
    @media (max-width: 960px) {
      .portfolio__item--03 {
        grid-column: 1 / 2;
        grid-row: 7 / 16; } }
  .portfolio__item--04 {
    grid-column: 1 / 2;
    grid-row: 4 / 8; }
    @media (max-width: 960px) {
      .portfolio__item--04 {
        grid-row: 4 / 7; } }
  .portfolio__item--05 {
    grid-column: 2 / 3;
    grid-row: 5 / 8; }
  .portfolio__item--06 {
    grid-column: 3 / 4;
    grid-row: 4 / 8; }
    @media (max-width: 960px) {
      .portfolio__item--06 {
        grid-column: 2 / 3;
        grid-row: 8 / 16; } }
  .portfolio__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; }
    .portfolio__thumb img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover; }

.cta-banner {
  padding-top: 72px;
  padding-bottom: 113px;
  background-color: #22222b;
  color: #fff;
  text-align: center; }
  .cta-banner__subtitle {
    font-size: 22px;
    margin-bottom: 0; }
    @media (max-width: 650px) {
      .cta-banner__subtitle {
        font-size: 14px; } }
  .cta-banner__title {
    font-size: 48px;
    margin-top: 15px;
    margin-bottom: 42px; }
    @media (max-width: 650px) {
      .cta-banner__title {
        font-size: 25px; } }

.btn {
  color: #fff;
  background-color: #22222b;
  font-size: 16px;
  text-decoration: none;
  padding: 20px 0;
  border: none;
  display: inline-block; }
  .btn--center {
    display: block;
    margin: 0 auto;
    text-align: center; }

.cta-banner .btn {
  color: #22222b;
  background-color: #fff;
  padding: 12px 57px; }

.testimonials {
  padding-top: 122px;
  padding-bottom: 158px; }
  @media (max-width: 650px) {
    .testimonials {
      padding-top: 100px;
      padding-bottom: 80px; } }
  .testimonials__grid {
    display: flex;
    justify-content: space-between;
    margin-top: 66px; }
    @media (max-width: 850px) {
      .testimonials__grid {
        flex-direction: column; } }

.testimonial {
  flex: 0 0 45%;
  max-width: 45%; }
  @media (max-width: 850px) {
    .testimonial {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px; } }
  .testimonial__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 56px; }
    @media (max-width: 650px) {
      .testimonial__header {
        margin-bottom: 25px;
        align-items: center; } }
  .testimonial__avatar {
    margin-right: 20px; }
    @media (max-width: 650px) {
      .testimonial__avatar img {
        max-width: 60px; } }
  .testimonial__name {
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 11px; }
    @media (max-width: 650px) {
      .testimonial__name {
        font-size: 18px; } }
  .testimonial__position {
    font-size: 12px;
    color: #7f7f82; }
  .testimonial__body {
    font-size: 18px;
    color: #7f7f82;
    font-style: italic;
    padding-left: 28px;
    line-height: 1.8; }
    @media (max-width: 650px) {
      .testimonial__body {
        font-size: 14px;
        padding-left: 0; } }

.stats {
  padding-top: 100px;
  padding-bottom: 82px;
  background-color: #faf9fe; }
  .stats__grid {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap; }

@media (max-width: 850px) {
  .stat {
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 30px; } }
@media (max-width: 650px) {
  .stat {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px; } }
.stat__icon {
  background-color: #22222b;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 27px; }
  .stat__icon--clients {
    background-image: url(../img/heart.png);
    background-size: 26px 23px; }
  .stat__icon--projects {
    background-image: url(../img/project.png);
    background-size: 26px 23px; }
  .stat__icon--experience {
    background-image: url(../img/experience.png);
    background-size: 26px 24px; }
  .stat__icon--awards {
    background-image: url(../img/awards.png);
    background-size: 19px 23px; }
.stat__count {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 13px; }
  @media (max-width: 650px) {
    .stat__count {
      font-size: 18px; } }
.stat__label {
  font-size: 16px;
  text-transform: uppercase; }
  @media (max-width: 650px) {
    .stat__label {
      font-size: 14px; } }

.contact {
  padding-top: 122px;
  padding-bottom: 130px; }

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center; }
  .contact-form__input, .contact-form__textarea {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
    padding: 17px 25px;
    text-align: center;
    margin-bottom: 15px;
    transition: 0.3s;
    box-sizing: border-box; }
    .contact-form__input:focus, .contact-form__textarea:focus {
      outline: none;
      border-bottom: 1px solid #22222b; }
  .contact-form__textarea {
    padding: 12px 25px;
    min-height: 86px;
    margin-bottom: 35px; }

.footer {
  background-color: #22222b;
  padding-top: 64px;
  padding-bottom: 69px; }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 16px; }
    @media (max-width: 650px) {
      .footer__inner {
        flex-direction: column;
        text-align: center;
        font-size: 14px; } }
  @media (max-width: 650px) {
    .footer__copyright {
      margin-bottom: 20px; } }

.social {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0; }
  @media (max-width: 650px) {
    .social {
      justify-content: center; } }
  .social__item {
    margin-left: 20px;
    margin-right: 20px; }
  .social__link {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
