.nav {
    margin-left:auto;
    @include media(850px) {
        display: none;
    }
    
    &__list {
        display:flex;
        gap:1.5em; 
        padding:0;
        margin:0;
        list-style:none;
        justify-content: flex-end;
    }
    &__link {
        color: $dark;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        padding-bottom:0.375em;
        transition: 0.3s;
        
        &:hover {
            border-bottom: 1px solid $dark;
        }
    }
}
.logo__img {
  width: clamp(100px, 20vw, 135px);
  height: auto;
}

.btn {
  display: inline-flex;         
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  box-sizing: border-box;
  font: inherit;              
  line-height: 1;               
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: $dark;
  border: 1px solid transparent;
  border-radius: 9999px;
  padding-block: 0.75em;       
  padding-inline: 1.25em;     
  transition: background-color 0.3s, color 0.3s;
}
.btn--primary {
  background-color: $dark;
  color: #fff;

  &:hover {
    filter: brightness(1.05);
  }
}
.btn--secondary {
  background-color: #fff;
  color: $dark;
  border-color: $dark;
  &:hover {
    background-color: $dark;
    color: #fff;
  }
}
