// Variables
$dark: #22222b;
$light: #faf9fe;
$text: #7f7f82;
// Размеры шрифтов
$fs-h1: 60px;
$fs-h2: 48px;
$fs-h3: 36px;
$fs-body: 16px;
$fs-min:14px;

// Начертания
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Mixins
@mixin media($width) {
    @media (max-width: $width) {
        @content;
    }
}

@import '_base';
@import '_layout';
@import '_components';







