// Variables
$dark: #22222b;
$light: #faf9fe;
$text: #7f7f82;

// Mixins
@mixin media($width) {
    @media (max-width: $width) {
        @content;
    }
}

// Base styles
body, html {
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $dark;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

// Hero section
.hero {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 42px;
    box-sizing: border-box;

    &__content {
        text-align: center;
    }

    &__title {
        font-size: 60px;
        font-weight: 300;
        position: relative;
        padding: 6px 29px;
        
        @include media(650px) {
            font-size: 30px;
        }
        
        &-accent {
            font-weight: 500;
        }
        
        &::before, &::after {
            content: '';
            display: block;
            background-repeat: no-repeat;
            width: 28px;
            height: 21px;
            position: absolute;
            
            @include media(650px) {
                width: 14px;
                height: 11px;
            }
        }
        
        &::before {
            background-image: url(../img/before-title.png);
            left: 0;
            top: 0;
        }
        
        &::after {
            background-image: url(../img/after-title.png);
            right: 0;
            bottom: -4px;
        }
    }

    &__scroll-btn {
        background-color: transparent;
        border: none;
        display: block;
        margin: 0 auto;
        animation: move 2s ease-in-out infinite;
    }

    &__scroll-icon {
        // Styles for scroll icon
    }
}

@keyframes move {
    0% { 
        transform: translate(0, -10px); 
        opacity: 0;
    }
    50% { 
        opacity: 1; 
    }
    100% {
        transform: translate(0, 10px); 
        opacity: 0;
    }
}

// Header
.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include media(850px) {
            justify-content: center;
        }
    }
}

// Logo
.logo {
    @include media(650px) {
        &__img {
            width: 135px;
        }
    }
}

// Navigation
.nav {
    @include media(850px) {
        display: none;
    }
    
    &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
    }
    
    &__item {
        margin-left: 23px;
    }
    
    &__link {
        color: $dark;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        padding-bottom: 6px;
        transition: 0.3s;
        
        &:hover {
            border-bottom: 1px solid $dark;
        }
    }
}

// Section titles
.section-title {
    font-size: 36px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    
    @include media(650px) {
        font-size: 25px;
    }
    
    &--center {
        text-align: center;
    }
}

.section-subtitle {
    font-size: 16px;
    color: $text;
    text-align: center;
    
    @include media(650px) {
        font-size: 14px;
    }
}

// About section
.about {
    padding-top: 240px;
    padding-bottom: 132px;
    
    @include media(650px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include media(960px) {
            flex-direction: column;
        }
    }
    
    &__visual {
        flex: 0 0 46%;
        max-width: 46%;
        position: relative;
        
        @include media(960px) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 30px;
        }
    }
    
    &__content {
        flex: 0 0 46%;
        max-width: 46%;
        
        @include media(960px) {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
    }
    
    &__img {
        &--back {
            position: absolute;
            z-index: -1;
            left: 0;
            top: -108px;
            
            @include media(960px) {
                display: none;
            }
        }
        
        &--front {
            @include media(960px) {
                width: 100%;
            }
        }
    }
    
    &__caption {
        position: absolute;
        left: -4px;
        letter-spacing: 1.6px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        bottom: 58px;
        font-size: 16px;
        
        @include media(960px) {
            display: none;
        }
        
        &::after {
            content: '';
            display: block;
            width: 1px;
            height: 45px;
            background-color: $dark;
            position: absolute;
            right: 9px;
            top: 93px;
            
            @include media(960px) {
                display: none;
            }
        }
    }
    
    &__title {
        font-size: 48px;
        font-weight: 500;
        margin-top: 12px;
        margin-bottom: 20px;
        
        @include media(650px) {
            font-size: 25px;
        }
    }
    
    &__text {
        color: $text;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 48px;
    }
}

// Skills
.skills {
    &__item {
        margin-bottom: 21px;
    }
    
    &__bar {
        width: 100%;
        height: 2px;
        background-color: $dark;
        position: relative;
        
        &::before {
            content: '';
            background-image: url(../img/circle.png);
            background-repeat: no-repeat;
            display: block;
            width: 6px;
            height: 11px;
            position: absolute;
            left: 0;
            top: calc(50% - 5.5px);
        }
        
        &::after {
            content: '';
            position: absolute;
            right: 0;
            display: block;
            height: 2px;
            background-color: #f2f2f2;
        }
        
        &--indesign::after {
            width: 35%;
        }
        
        &--xd::after {
            width: 20%;
        }
    }
    
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__name, &__value {
        font-size: 16px;
        font-weight: 500;
    }
}

// Services section
.services {
    background-color: $light;
    padding-top: 120px;
    padding-bottom: 100px;
    
    @include media(650px) {
        padding-top: 100px;
        padding-bottom: 80px;
    }
    
    &__grid {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        grid-gap: 31px 48px;
        margin-top: 65px;
        margin-bottom: 30px;
        
        @include media(960px) {
            grid-template: 1fr 1fr / 1fr 1fr;
        }
    }
}

// Service card
.service-card {
    &:hover {
        .service-card__link-text {
            width: inherit;
            opacity: 1;
            padding-right: 9px;
        }
    }
    
    &__icon {
        background-repeat: no-repeat;
        display: block;
        width: 44px;
        height: 37px;
        margin-bottom: 30px;
        
        &--design {
            background-image: url(../img/icon01.png);
            background-size: 41px 35px;
        }
        
        &--photo {
            background-image: url(../img/icon02.png);
            background-size: 43px 35px;
        }
        
        &--web {
            background-image: url(../img/icon03.png);
            background-size: 41px 35px;
        }
        
        &--social {
            background-image: url(../img/icon04.png);
            background-size: 37px 37px;
        }
        
        &--marketing {
            background-image: url(../img/icon05.png);
            background-size: 44px 37px;
        }
        
        &--app {
            background-image: url(../img/icon06.png);
            background-size: 37px 37px;
        }
    }
    
    &__title {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 18px;
        
        @include media(650px) {
            font-size: 18px;
        }
    }
    
    &__text {
        color: $text;
        font-size: 14px;
        line-height: 1.8;
        
        @include media(650px) {
            font-size: 13px;
        }
    }
    
    &__link {
        color: $dark;
        font-size: 14px;
        text-decoration: none;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 60px;
    }
    
    &__link-text {
        opacity: 0;
        width: 0;
        padding-right: 0;
        transition: 0.4s ease-in-out;
    }
    
    &__link-line {
        display: block;
        width: 25px;
        height: 1px;
        background-color: $dark;
    }
}

// Portfolio section
.portfolio {
    padding-top: 123px;
    padding-bottom: 161px;
    
    @include media(650px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    &__grid {
        display: grid;
        grid-template: repeat(7, 88px) / 1fr 1fr 1fr;
        grid-gap: 40px;
        margin-top: 83px;
        
        @include media(960px) {
            grid-template: repeat(7, 88px) / 1fr 1fr;
        }
        
        @include media(650px) {
            grid-template: repeat(7, 60px) / 1fr 1fr;
            grid-gap: 20px;
        }
    }
    
    &__item {
        &--01 {
            grid-column: 1 / 2;
            grid-row: 1 / 4;
        }
        
        &--02 {
            grid-column: 2 / 3;
            grid-row: 1 / 5;
        }
        
        &--03 {
            grid-column: 3 / 4;
            grid-row: 1 / 4;
            
            @include media(960px) {
                grid-column: 1 / 2;
                grid-row: 7 / 16;
            }
        }
        
        &--04 {
            grid-column: 1 / 2;
            grid-row: 4 / 8;
            
            @include media(960px) {
                grid-row: 4 / 7;
            }
        }
        
        &--05 {
            grid-column: 2 / 3;
            grid-row: 5 / 8;
        }
        
        &--06 {
            grid-column: 3 / 4;
            grid-row: 4 / 8;
            
            @include media(960px) {
                grid-column: 2 / 3;
                grid-row: 8 / 16;
            }
        }
    }
    
    &__thumb {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// CTA Banner
.cta-banner {
    padding-top: 72px;
    padding-bottom: 113px;
    background-color: $dark;
    color: #fff;
    text-align: center;
    
    &__subtitle {
        font-size: 22px;
        margin-bottom: 0;
        
        @include media(650px) {
            font-size: 14px;
        }
    }
    
    &__title {
        font-size: 48px;
        margin-top: 15px;
        margin-bottom: 42px;
        
        @include media(650px) {
            font-size: 25px;
        }
    }
}

// Buttons
.btn {
    color: #fff;
    background-color: $dark;
    font-size: 16px;
    text-decoration: none;
    padding: 20px 0;
    border: none;
    display: inline-block;
    
    &--center {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

.cta-banner .btn {
    color: $dark;
    background-color: #fff;
    padding: 12px 57px;
}

// Testimonials section
.testimonials {
    padding-top: 122px;
    padding-bottom: 158px;
    
    @include media(650px) {
        padding-top: 100px;
        padding-bottom: 80px;
    }
    
    &__grid {
        display: flex;
        justify-content: space-between;
        margin-top: 66px;
        
        @include media(850px) {
            flex-direction: column;
        }
    }
}

.testimonial {
    flex: 0 0 45%;
    max-width: 45%;
    
    @include media(850px) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    
    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 56px;
        
        @include media(650px) {
            margin-bottom: 25px;
            align-items: center;
        }
    }
    
    &__avatar {
        margin-right: 20px;
        
        img {
            @include media(650px) {
                max-width: 60px;
            }
        }
    }
    
    &__name {
        font-size: 22px;
        margin-top: 14px;
        margin-bottom: 11px;
        
        @include media(650px) {
            font-size: 18px;
        }
    }
    
    &__position {
        font-size: 12px;
        color: $text;
    }
    
    &__body {
        font-size: 18px;
        color: $text;
        font-style: italic;
        padding-left: 28px;
        line-height: 1.8;
        
        @include media(650px) {
            font-size: 14px;
            padding-left: 0;
        }
    }
}

// Stats section
.stats {
    padding-top: 100px;
    padding-bottom: 82px;
    background-color: $light;
    
    &__grid {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;
    }
}

.stat {
    @include media(850px) {
        flex-basis: 50%;
        max-width: 50%;
        margin-bottom: 30px;
    }
    
    @include media(650px) {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    &__icon {
        background-color: $dark;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin: 0 auto;
        background-position: center center;
        background-repeat: no-repeat;
        margin-bottom: 27px;
        
        &--clients {
            background-image: url(../img/heart.png);
            background-size: 26px 23px;
        }
        
        &--projects {
            background-image: url(../img/project.png);
            background-size: 26px 23px;
        }
        
        &--experience {
            background-image: url(../img/experience.png);
            background-size: 26px 24px;
        }
        
        &--awards {
            background-image: url(../img/awards.png);
            background-size: 19px 23px;
        }
    }
    
    &__count {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 13px;
        
        @include media(650px) {
            font-size: 18px;
        }
    }
    
    &__label {
        font-size: 16px;
        text-transform: uppercase;
        
        @include media(650px) {
            font-size: 14px;
        }
    }
}

// Contact section
.contact {
    padding-top: 122px;
    padding-bottom: 130px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    
    &__input, &__textarea {
        border: none;
        border-bottom: 1px solid #e1e1e1;
        font-size: 14px;
        padding: 17px 25px;
        text-align: center;
        margin-bottom: 15px;
        transition: 0.3s;
        box-sizing: border-box;
        
        &:focus {
            outline: none;
            border-bottom: 1px solid $dark;
        }
    }
    
    &__textarea {
        padding: 12px 25px;
        min-height: 86px;
        margin-bottom: 35px;
    }
}

// Footer
.footer {
    background-color: $dark;
    padding-top: 64px;
    padding-bottom: 69px;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        font-size: 16px;
        
        @include media(650px) {
            flex-direction: column;
            text-align: center;
            font-size: 14px;
        }
    }
    
    &__copyright {
        @include media(650px) {
            margin-bottom: 20px;
        }
    }
}

// Social
.social {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    
    @include media(650px) {
        justify-content: center;
    }
    
    &__item {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    &__link {
        color: #fff;
    }
}